<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!--template start-->

    <script>
      function roundTrackerDropdownToggle(toggleCheckbox, dropdownIcon, list) {
        toggleCheckbox.prop("checked", !toggleCheckbox.prop("checked"));

        if (toggleCheckbox.prop("checked")) {
          dropdownIcon.removeClass("fa-caret-right").addClass("fa-caret-down");
          list.removeClass("hidden").addClass("flex");
        } else {
          dropdownIcon.removeClass("fa-caret-down").addClass("fa-caret-right");
          list.removeClass("flex").addClass("hidden");
        }
      }

      function roundTrackerCombatantsDropdownToggle() {
        let toggleCheckbox = $("#round-tracker-add-toggle");
        let dropdownIcon = $("#round-tracker-combatants-dropdown");
        let combatantsList = $("#round-tracker-conbatants-list");

        roundTrackerDropdownToggle(
          toggleCheckbox,
          dropdownIcon,
          combatantsList
        );
      }

      function roundTrackerStatusDropdownToggle() {
        let toggleCheckbox = $("#round-tracker-add-status-toggle");
        let dropdownIcon = $("#round-tracker-add-status-dropdown");
        let statusList = $("#round-tracker-add-status-list");

        roundTrackerDropdownToggle(toggleCheckbox, dropdownIcon, statusList);
      }

      function roundTrackerToggleCombatant(combatantId, button) {
        let btn = $(button);

        //find the value in the select input with the id round-tracker-select-combatants that matches the combatantId
        let combatant = $("#round-tracker-select-combatants")
          .find(`option[value=${combatantId}]`)
          .first();

        // toggle the selected prop on combatant
        combatant.attr("selected", !combatant.attr("selected"));

        // set the opacity on the btn based on the combatant selected prop
        if (combatant.attr("selected")) {
          btn.removeClass("opacity-40").addClass("opacity-100");
        } else {
          btn.removeClass("opacity-100").addClass("opacity-40");
        }
      }

      function roundTrackerToggleStatus(status, button) {
        let btn = $(button);

        //find the value in the select input with the id round-tracker-select-status that matches the status
        let statusOption = $("#round-tracker-select-status")
          .find(`option[value=${status}]`)
          .first();

        // toggle the selected prop on statusOption
        statusOption.attr("selected", !statusOption.attr("selected"));

        // set the opacity on the btn based on the statusOption selected prop
        if (statusOption.attr("selected")) {
          btn.removeClass("opacity-40").addClass("opacity-100");
        } else {
          btn.removeClass("opacity-100").addClass("opacity-40");
        }
      }
    </script>
    <form id="round-tracker-form">
      <div id="round-tracker-add" class="flex-col m-2 gap-1 text-gray-700">
        <!-- Create a form for round event entry showing the round entry box and the text box for the event description -->

        <div class="flex flex-row gap-2">
          <div class="flex flex-col shrink">
            <div class="text-sm font-semibold">Round (+/n)</div>
            <input
              id="round-tracker-round-input"
              name="round"
              type="text"
              class="rounded-md border border-gray-700 w-24 text-center p-1 text-sm invalid:border-red-500 peer"
              required
              pattern="^(\+)?\d+"
            />
          </div>
          <div class="flex flex-col grow">
            <div class="text-sm font-semibold">Event</div>
            <input
              id="round-tracker-text-input"
              type="text"
              name="text"
              class="rounded-md border border-gray-700 p-1 text-sm"
            />
          </div>
        </div>

        <select
          class="hidden"
          id="round-tracker-select-combatants"
          name="combatants"
          multiple
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>

        <select
          class="hidden"
          id="round-tracker-select-status"
          name="status_effects"
          multiple
        >
          <option value="stunned">Stunned</option>
          <option value="prone">Prone</option>
          <option value="blinded">Blinded</option>
        </select>

        <div class="flex flex-col w-full p-1">
          <div class="flex flex-col w-full">
            <input
              type="checkbox"
              class="hidden"
              id="round-tracker-add-toggle"
            />
            <div class="flex flex-row items-center justify-start">
              <div>
                <i
                  id="round-tracker-combatants-dropdown"
                  class="fa-solid fa-caret-right"
                  onclick="roundTrackerCombatantsDropdownToggle()"
                ></i>
              </div>
              <div class="text-sm font-semibold pl-2">Combatants</div>
            </div>
            <!--Header showing the tokens and their artwork-->
            <div
              id="round-tracker-conbatants-list"
              class="hidden flex-row gap-2 overflow-x-auto items-center justify-start w-full rounded-lg border border-gray-700 p-2"
            >
              <div class="flex flex-row gap-2">
                <div class="flex flex-col w-8 h-12 items-center justify-start">
                  <div
                    class="w-8 h-8 rounded-full border-2 bg-black opacity-40 hover:opacity-100 cursor-pointer peer"
                    onclick="roundTrackerToggleCombatant(1, this)"
                  >
                    <img
                      src="../img/round-tracker.svg"
                      alt="round-tracker"
                      class="w-full h-full"
                    />
                  </div>
                  <div
                    class="invisible peer-hover:visible text-xs overflow-clip overflow-ellipsis text-center"
                  >
                    name
                  </div>
                </div>
                <div
                  class="w-8 h-8 rounded-full border-2 bg-black opacity-40 hover:opacity-100 cursor-pointer"
                  onclick="roundTrackerToggleCombatant(2, this)"
                >
                  <img
                    src="../img/round-tracker.svg"
                    alt="round-tracker"
                    class="w-full h-full"
                  />
                </div>
                <div
                  class="w-8 h-8 rounded-full border-2 bg-black opacity-40 hover:opacity-100 cursor-pointer"
                  onclick="roundTrackerToggleCombatant(3, this)"
                >
                  <img
                    src="../img/round-tracker.svg"
                    alt="round-tracker"
                    class="w-full h-full"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-1 w-full">
            <input
              type="checkbox"
              class="hidden"
              id="round-tracker-add-status-toggle"
            />
            <div class="flex flex-row gap-2">
              <div>
                <i
                  id="round-tracker-add-status-dropdown"
                  class="fa-solid fa-caret-right"
                  onclick="roundTrackerStatusDropdownToggle()"
                ></i>
              </div>
              <div class="text-sm font-semibold w-full">Status Effects</div>
            </div>
            <div
              id="round-tracker-add-status-list"
              class="hidden flex-row flex-wrap gap-2 rounded-lg p-2 border border-gray-700 w-full"
            >
              <div
                class="flex flex-col items-center justify-center align-middle"
              >
                <div
                  class="flex items-center justify-center cursor-pointer w-8 h-8 rounded-md bg-gray-700 text-sm text-white peer opacity-40"
                  onclick="roundTrackerToggleStatus('stunned', this)"
                >
                  <div>S</div>
                </div>

                <div
                  class="invisible peer-hover:visible text-gray-700 text-xs overflow-hidden"
                >
                  Stunned
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--template end-->
  </body>
</html>
